## Soal UTS

In [3]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [4]:
company_detail_list = [
    {"name": "Company 1"},
    {"name": "Company 2"},
    {"name": "Company 3"},
]

sorted_companies = sorted(
    [{"name": company["name"]} for company in company_detail_list],
    key=lambda x: x["name"],
    reverse=True,
)

print(sorted_companies)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [6]:
company_detail_list = [
    {"name": "Company 1", "domain": "Retail", "country": "United States"},
    {"name": "Company 2", "domain": "Technology", "country": "United Kingdom"},
    {"name": "Company 3", "domain": "Healthcare", "country": "United States"},
]

for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [8]:
from collections import defaultdict

employee_detail_list = [
    {"name": "EMP-0001", "first_name": "John", "last_name": "Doe", "full_name": "John Doe", "company": "Company 1", "nationality": "Australia"},
    {"name": "EMP-0002", "first_name": "Tom", "last_name": "Smith", "full_name": "Tom Smith", "company": "Company 2", "nationality": "United States"},
    {"name": "EMP-0003", "first_name": "Andrew", "last_name": "Sebastian", "full_name": "Andrew Sebastian", "company": "Company 3", "nationality": "United States"},
    {"name": "EMP-0005", "first_name": "Ying Han", "last_name": "Tan", "full_name": "Ying Han Tan", "company": "Company 1", "nationality": "Australia"},
    {"name": "EMP-0015", "first_name": "Kenneth", "last_name": "Ng", "full_name": "Kenneth Ng", "company": "Company 3", "nationality": "United States"},
    {"name": "EMP-0018", "first_name": "Rubby", "last_name": "Lee", "full_name": "Rubby Lee", "company": "Company 2", "nationality": "Hong Kong"},
    {"name": "EMP-0017", "first_name": "Robert", "last_name": "White", "full_name": "Robert White", "company": "Company 1", "nationality": "United Kingdom"},
]

domain_employees = defaultdict(list)
company_domains = {company["name"]: company["domain"] for company in company_detail_list}

for employee in employee_detail_list:
    domain = company_domains[employee["company"]]
    domain_employees[domain].append(employee["full_name"])

for domain, employees in domain_employees.items():
    print(f"{domain}:")
    for employee in employees:
        print(f"  - {employee}")

Retail:
  - John Doe
  - Ying Han Tan
  - Robert White
Technology:
  - Tom Smith
  - Rubby Lee
Healthcare:
  - Andrew Sebastian
  - Kenneth Ng

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [11]:
def employees_with_company_country(employee_list, company_list):
    company_countries = {company["name"]: company["country"] for company in company_list}
    return [
        {
            "full_name": emp["full_name"],
            "company": emp["company"],
            "country": company_countries[emp["company"]],
        }
        for emp in employee_list
    ]

employees = employees_with_company_country(employee_detail_list, company_detail_list)

for emp in employees:
    print(f"full_name: {emp['full_name']}")
    print(f"company: {emp['company']}")
    print(f"country: {emp['country']}")
    print()

full_name: John Doe
company: Company 1
country: United States

full_name: Tom Smith
company: Company 2
country: United Kingdom

full_name: Andrew Sebastian
company: Company 3
country: United States

full_name: Ying Han Tan
company: Company 1
country: United States

full_name: Kenneth Ng
company: Company 3
country: United States

full_name: Rubby Lee
company: Company 2
country: United Kingdom

full_name: Robert White
company: Company 1
country: United States

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [17]:
def company_employee_nationalities(employee_list, company_list):
    nationality_count = defaultdict(lambda: defaultdict(int))
    
    for emp in employee_list:
        nationality_count[emp["company"]][emp["nationality"]] += 1
    
    result = []
    for company in company_list:
        company_name = company["name"]
        result.append({
            "company": company_name,
            "employee_nationality": dict(nationality_count[company_name]),
        })
    
    return result

result = company_employee_nationalities(employee_detail_list, company_detail_list)

import json
print(json.dumps(result, indent=4))

[
    {
        "company": "Company 1",
        "employee_nationality": {
            "Australia": 2,
            "United Kingdom": 1
        }
    },
    {
        "company": "Company 2",
        "employee_nationality": {
            "United States": 1,
            "Hong Kong": 1
        }
    },
    {
        "company": "Company 3",
        "employee_nationality": {
            "United States": 2
        }
    }
]